<div class="container">
    <div class="row text-center">
        <h1>Game Over!</h1>
        <h2>The player died.</h2>
        <p><small>Waiting for host...</small></p>
        <p><small><strong>{{playerCount}}</strong> players connected</small></p>
    </div>
</div>